# Core functionality - changes here should be rare!
/src/app.py                   @amer-syss
/src/backend/database.py      @amer-syss
/src/backend/routers/auth.py  @amer-syss

# The frontend will need refactored soon to be more object oriented.
/src/static/   @amer-syss
